/* navbar animation */

:root {
    --overlay-color: rgba(252, 248, 243, 0.9);
    --menu-speed: 0.75s;
    --font: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--font);
}

html {
    scroll-behavior: smooth;
}

.menu-wrap {
    position: fixed;
    top: 0;
    left:0;
    z-index: 4;
}

.menu-wrap .toggler {
    position: absolute;
    top:0;
    left:0;
    z-index: 5;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}



/* top and bottom line */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 4;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger > div:after {
    top: 10px;
}

/* animate hamburger */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}
/* turn lines into X */

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* show menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scaleX(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .toggler:checked ~ .menu > div > div > ul > li{
    transform: scaleX(1);
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu-wrap .menu > div {
    background: var(--overlay-color);
    border: 100%;
    width: 100vw;
    height: 100vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: flex-start;
    transform: scaleX(0);
    transition: all 0.4s ease;
    transform-origin: top left;
}

.menu-wrap .menu > div > div {
    text-align: justify;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li{
    list-style: none;
    color: #4d4646;
    font-size: 1.5rem;
    padding: 1rem;
    transform: scaleX(0);
    transition: all 0.4s ease;
    transform-origin: left;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    cursor: pointer;
}